<!DOCTYPE html>
<html ng-app="app.movies">

<% include ./share/head.ejs %>
    <script src="/javascripts/change-password.js"></script>

    <title>Change password</title>

    <body ng-controller="movieController">
        <header>
            <% include ./share/header.ejs %>
        </header>

        <div class="container my-form">
            <form name="changePasswordForm" ng-submit="changePassword(changePasswordForm.$valid)">
                <h1 class="text-center">CHANGE PASSWORD</h1>
                <div class="form-group">
                    <label for="current_password">Current password</label>
                    <input type="password" class="form-control" id="current_password" ng-model="current_password" name="current_password" required>
                </div>
                <div class="form-group">
                    <label for="password">New password</label>
                    <input type="password" class="form-control" id="password" ng-model="password">
                </div>
                <div class="form-group">
                    <label for="confirm_password">Re-enter new password</label>
                    <input type="password" class="form-control" id="confirm_password" ng-model="confirmPassword" required compare-to="password">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary my-btn pull-right">
                        <i class="fa fa-floppy-o fa-lg" aria-hidden="true"></i> Save</button>
                </div>
            </form>
        </div>
        <div>
            <% include ./share/layout.ejs %>
        </div>

        <footer>
            <% include ./share/footer.ejs %>
        </footer>
    </body>

</html>