<!DOCTYPE html>
<html ng-app="app.movies">

<% include ./share/head.ejs %>
    <link rel="stylesheet" href="/stylesheets/list-movie.css">
    <link rel="stylesheet" href="/stylesheets/create-movie.css">
    <script src="/javascripts/services/svMovies.js"></script>
    <script src="/javascripts/create-movie.js"></script>

    <title>Create new movie</title>

    <body ng-controller="movieController">
        <header>
            <% include ./share/header.ejs %>
        </header>
        <form ref='uploadForm' id='uploadForm' action='/api/movie/create' method='post' encType="multipart/form-data">
            <div class="container-fluid">

                <h1 id="main" class="text-center">CREATE NEW MOVIE</h1>

                <div class="container form-group col-lg-5 text-center thumbnail-group">
                    <image class="img-responsive text-center" id="cover" src="/images/cover.png"></image>
                    <input type="file" id="uploadFile" name="sampleFile" required="required">
                    <button type="button" id="uploadButton" class="btn btn-primary my-btn" onClick="uploadImage()">
                        <i class="fa fa-file-image-o fa-lg" aria-hidden="true"></i> Choose thumbnail</button>

                </div>

                <div class="container col-lg-7">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" name="title" required="required" placeholder="Title">
                    </div>
                    <div class="form-group">
                        <label for="genre">Genre</label>
                        <select class="form-control" id="genre" name="genre">
                            <option label={{genre}} value={{genre}} ng-repeat="genre in genres">{{genre}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="release">Release Date</label>
                        <div id="release" class="form-inline">
                            <select class="form-control" id="month" name="month" ng-options="item as item for item in months" ng-model="thisMonth">
                            </select>
                            <select class="form-control" id="year" name="year" ng-options="item as item for item in years" ng-model="thisYear">
                                <!--<option label={{year}} value={{year}} ng-repeat="year in years">{{year}}</option>-->
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea name="description" type="textarea" class="form-control" id="description" rows="4" placeholder="Write something about the movie, actors, the content of the movie,..."
                            required="required"></textarea>
                    </div>
                </div>
                <button type="submit" id="createButton" class="btn btn-primary my-btn pull-right">
                    <i class="fa fa-upload fa-lg" aria-hidden="true"></i> Create movie</button>
            </div>
        </form>
        <footer>
            <% include ./share/footer.ejs %>
        </footer>
    </body>

</html>