<h1>
    Hi,
    <strong>Nam</strong>!</h1>
<h3>
    <b>There was a request to change your password.</b>
</h3>
<p>If you did not make this request, just ignore this email. Otherwise, please click the button below to change your password:</p>
<div style="margin: 0 auto; width: 200px">
    <button style="color: white; border-radius: 10px; padding: 10px 20px; background-color: #204d74; border-color: #122b40;"
        onclick="window.location.href='http://localhost:3000';">Change password</button>
</div>
<p>Thank you.</p>