<!DOCTYPE html>
<html>

<% include ./share/head.ejs %>

    <link rel="stylesheet" href="/stylesheets/list-movie.css">

    <title>Cinema</title>

    <body>
        <div class="container">
            <% movieList.forEach(function(movie){%>
                <div class="container col-lg-4 movie text-center">
                    <image class="img-responsive cover" src=<%=movie.cover%>>
                        <h2 class="info">
                            <%= movie.title %>
                                <!--<%= movie.title+" ("+movie.release+")" %>-->
                        </h2>
                </div>
                <%});%>
        </div>
    </body>

</html>