<!DOCTYPE html>
<html ng-app="app.movies">

<% include ./share/head.ejs %>

    <link rel="stylesheet" href="/stylesheets/list-movie.css">
    <script src="/javascripts/services/svMovies.js"></script>
    <script src="/javascripts/list-movie.js"></script>
    
    <title>Cinema</title>

    <body ng-controller="movieController">
        <div class="container">
                <div class="container col-lg-4 movie text-center"  ng-repeat="movie in movies" ng-click="getDetail(movie._id)">
                    <image class="img-responsive cover" src={{movie.cover}}>
                        <h2 class="info">
                            {{movie.title}}
                        </h2>
                </div>
      
        </div>
    </body>

</html>