<!DOCTYPE html>
<html ng-app="app.movies">

<% include ./share/head.ejs %>

    <link rel="stylesheet" href="/stylesheets/list-movie.css">
    <script scr="/javascripts/list-movie.js"></script>
    <title>Cinema</title>

    <body ng-controller="movieController">
        <h1>{{appName}}</h1>
        
        <!--<div class="container">
            <% movieList.forEach(function(movie){%>
                <div class="container col-lg-4 movie text-center">
                    <image class="img-responsive cover" src=<%=movie.cover%>>
                        <h2 class="info">
                            <%= movie.title %>-->
                                <!--<%= movie.title+" ("+movie.release+")" %>-->
                      <!--  </h2>
                </div>
                <%});%>
        </div>-->
    </body>

</html>