<script type="text/ng-template" id="messages">
    <div ng-message="required">Required</div>
    <!--<div ng-message="minlength">Too short</div>
    <div ng-message="maxlength">Too long</div>-->
    <div ng-message="email">Please enter a valid email address</div>
    <div ng-message="compareTo">Passwords don't match</div>


    <div ng-message="required">This field is required</div>
    <div ng-message="minlength">This field is too short</div>
  </script>