<!DOCTYPE html>
<html ng-app="app.movies">

<% include ./share/head.ejs %>

    <link rel="stylesheet" href="/stylesheets/movie-detail.css">
    <script src="/javascripts/services/svMovies.js"></script>
    <script src="/javascripts/movie-detail.js"></script>

    <title>Movie detail</title>

    <body ng-controller="movieController">

        <div class="container">
            <div class="container">
                <h1 class="text-center title">{{movie.title}}</h1>
                <div class="container col-lg-4 movie text-center">
                    <image class="img-responsive cover" src={{movie.cover}}>
                </div>
                <div class="container col-lg-8 info">
                    <h4>Genre: {{movie.genre}}</h4>
                    <h4>Release date: {{movie.release}}</h4>
                    <h4>Description:</h4>
                    <p>{{movie.description}}</p>
                </div>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-primary" onClick="history.back()">
                    <i class="fa fa-arrow-circle-left fa-lg"></i> Back</button>
            </div>
        </div>


    </body>


</html>