<!DOCTYPE html>
<html ng-app="app.movies">

<% include ./share/head.ejs %>

    <link rel="stylesheet" href="/stylesheets/movie-detail.css">
    <script src="/javascripts/services/svMovies.js"></script>
    <script src="/javascripts/movie-detail.js"></script>
    <title>Movie detail</title>

    <body ng-controller="movieController">
        <div class="wrapper">
            <div id="header">
                <img id="logo" class="img-responsive" src="/images/favicon.png" alt="Logo of Cinema">
                <h1 id="application-name">CINEMA APPLICATION</h1>
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-left">
                                <li>
                                    <a href="/">
                                        <i class="fa fa-home fa-lg" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <form class="navbar-form navbar-left">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Search">
                                        </div>
                                        <button type="submit" class="btn btn-default">Search</button>
                                    </form>
                                </li>
                            </ul>

                            <ul class="nav navbar-nav navbar-right">
                                <li id="create">
                                    <a href="/movie/createMovie">
                                        <i class="fa fa-upload" aria-hidden="true"></i> CREATE NEW MOVIE</a>
                                </li>
                                <li id="signin">
                                    <a href="/signin">
                                        <i class="fa fa-sign-in" aria-hidden="true"></i> SIGN IN</a>
                                </li>
                                <li id="signup">
                                    <a href="/signup">
                                        <i class="fa fa-user-plus" aria-hidden="true"></i> SIGN UP</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>
            </div>
            <div class="container">
                <div class="container">
                    <h1 class="text-center title">{{movie.title}}</h1>
                    <div class="container col-lg-4 movie text-center">
                        <image class="img-responsive cover" src={{movie.cover}}>
                    </div>
                    <div class="container col-lg-8 info">
                        <h4>Genre: {{movie.genre}}</h4>
                        <h4>Release date: {{movie.release}}</h4>
                        <h4>Description:</h4>
                        <p>{{movie.description}}</p>
                    </div>
                </div>
                <div class="text-center">
                    <button style="margin-bottom:20px;" type="button" class="btn btn-primary" onClick="history.back()">
                        <i class="fa fa-arrow-circle-left fa-lg"></i> Back</button>
                </div>
            </div>
        </div>
        <div id="footer">
            <footer>Copyright &copy; Cinema Website 2018 </footer>
        </div>


    </body>


</html>