<!DOCTYPE html>
<html ng-app="app.movies">

<% include ./share/head.ejs %>
    <script src="/javascripts/reset-password.js"></script>

    <title>Reset password</title>

    <body ng-controller="movieController">
        <header>
            <% include ./share/header.ejs %>
        </header>
        <form class='my-form'name="changePasswordForm" ng-submit='changePassword(changePasswordForm.$valid)'>
            <div class="container-fluid">
                <h1 id="main" class="text-center">RESET PASSWORD</h1>
                <div class="form-group">
                    <label for="password">New password</label>
                    <input type="password" class="form-control" id="password" ng-model="password">
                </div>
                <div class="form-group">
                    <label for="confirm_password">Re-enter new password</label>
                    <input type="password" class="form-control" id="confirm_password" ng-model="confirmPassword" required compare-to="password">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary my-btn pull-right">
                        <i class="fa fa-floppy-o fa-lg" aria-hidden="true"></i> Save</button>
                </div>
            </div>
        </form>
        <footer>
            <% include ./share/footer.ejs %>
        </footer>
    </body>

</html>