<!DOCTYPE html>
<html ng-app="app.movies">

<% include ./share/head.ejs %>
    <script src="/javascripts/reset-password.js"></script>

    <title>Reset password</title>

    <body ng-controller="movieController">
        <header>
            <% include ./share/header.ejs %>
        </header>
        <form class='my-form' ng-submit='resetPassword()'>
            <div class="container-fluid">
                <h1 id="main" class="text-center">RESET PASSWORD</h1>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
                        </span>
                        <input type="email" class="form-control" id="email" placeholder="Email address" name="email" required>
                    </div>
                </div>
                <button id="resetButton" class="btn btn-primary my-btn pull-right">
                    <span class="fa-stack">
                        <i class="fa fa-undo fa-stack-2x"></i>
                        <i class="fa fa-lock fa-stack-1x"></i>
                    </span> Reset password</button>
            </div>
        </form>
        <footer>
            <% include ./share/footer.ejs %>
        </footer>
    </body>

</html>