<!DOCTYPE html>
<html>

<% include ./share/head.ejs %>
    <script src="/javascripts/signin.js"></script>


    <title>Cinema</title>

    <body>
        <header>
            <% include ./share/header.ejs %>
        </header>

        <div class="container my-form">
            <form ref='uploadForm' id='uploadForm' action='/api/user/signin' method='post'>
                <h1 class="text-center">SIGN IN</h1>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
                        </span>
                        <input type="email" class="form-control" id="email" placeholder="Email address" name="email" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-key fa-lg" aria-hidden="true"></i>
                        </span>
                        <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
                    </div>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Remember me
                    </label>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary my-btn">
                        <i class="fa fa-sign-in fa-lg" aria-hidden="true"></i> Sign in</button>
                </div>
            </form>
        </div>
        <footer>
            <% include ./share/footer.ejs %>
        </footer>
    </body>

</html>