<!DOCTYPE html>
<html>

<% include ./share/head.ejs %>

    <link rel="stylesheet" href="/stylesheets/list-movie.css">
    <script src="/javascripts/user-profile.js"></script>

    <title>User profile</title>

    <body>
        <header>
            <% include ./share/header.ejs %>
        </header>
        <div>
            <form ref='uploadForm' id='uploadForm' action='/api/user/' method='post' encType="multipart/form-data">
                <div class="container-fluid">
                    <h1 class="text-center row">USER PROFILE</h1>

                    <div class="container col-lg-7">
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
                                </span>
                                <input type="email" class="form-control" id="email" disabled placeholder="Email address" value=<%=user.email%>>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="username">User name</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-address-card fa-lg" aria-hidden="true"></i>
                                </span>
                                <input type="text" class="form-control" name="username" id="username" placeholder="User Name" value='<%=user.username%>'>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone number</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-phone-square fa-lg" aria-hidden="true"></i>
                                </span>
                                <input type="number" class="form-control" name="phone" id="phone" placeholder="Phone number" value=<%=user.phone%>>
                            </div>
                        </div>

                    </div>

                    <div class="container form-group col-lg-5 text-center">
                        <div class="text-center">
                            <image style="object-fit:cover; border-radius: 50%; width: 200px; height: 200px; display: inline;" class="img-responsive"
                                id="avatar" src=<%=user.avatar%>></image>
                            <input style="display: none;" type="file" id="uploadFile" name="sampleFile">
                            <br>
                            <br>
                            <button type="button" id="uploadButton" class="btn btn-primary my-btn" onClick="uploadImage()">
                                <i class="fa fa-file-image-o fa-lg"></i> Choose profile picture</button>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="my-btn btn btn-primary">
                            <i class="fa fa-floppy-o fa-lg" aria-hidden="true"></i> Save</button>
                    </div>
                    <br>
                </div>
            </form>
        </div>
        <footer>
            <% include ./share/footer.ejs %>
        </footer>

    </body>

</html>