#uploadFile {
  display: none;
}

#cover {
  border-radius: 20px;
  opacity: 0.7;
  margin: 20px;
}

.my-btn {
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #204d74;
  border-color: #122b40;
}
