  .navbar {
    background-color: green;
    background: green;
    color: white;
  }

  li {
    color: #fff;
  }
  
  a { 
    font-size: 20px;
    color: #fff !important; 
    margin-left: 20px;
  }
  
  #header {
    display: block;
  }
  
  #logo {
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin: 1px;
    display: inline;
  }
  
  #application-name {
    text-transform: uppercase;
    float: right;
    color: green;
    font-weight: bolder;
  }