.cover {
  border-radius: 20px;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  object-fit: cover;
  /*border: solid black;*/

}

.movie {
  margin-bottom: 100px;
  height: 500px;
  
}

.info {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: white;
}




