.cover {
  border-radius: 20px;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  object-fit: cover;
  /*border: solid black;*/

}

.movie {
  margin-bottom: 100px;
  height: 500px;
  
}

.info {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: white;
}





/* Header and footer*/
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
  padding-bottom: 50px;
}

.navbar {
  background-color: green;
  background: green;
  color: white;
}

li {
  color: #fff;
}

a { 
  font-size: 20px;
  color: #fff !important; 
  margin-left: 20px;
}

#header {
  display: block;
}

#footer {
  width: 100%;
  text-align: center;
  height: 20px;
}

#logo {
  height: 100px;
  width: 100px;
  object-fit: cover;
  margin: 1px;
  display: inline;
}

#application-name {
  text-transform: uppercase;
  float: right;
  color: green;
  font-weight: bolder;
}

