* {
  font-family: Montserrat, sans-serif;
}

body {
  padding: 0px 50px;
  font: 14px;
}

.my-btn {
  margin-bottom: 20px !important;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
  padding-bottom: 50px;
}

.my-form {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.my-btn {
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #204d74;
  border-color: #122b40;
}

#searchBox, #sortBox, #create, #signin, #signout, #signup, #change, #edit {
  display: none;
}

#search {
  width: 300px;
}

#greeting {
  cursor:pointer;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 30px; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 30px; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 30px; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 30px; opacity: 0;}
}
