<div id="header">
    <a id="logoGroup" href="/">
        <img id="logo" class="img-responsive" src="/images/favicon.png" alt="Logo of Cinema">
    </a>
    <h3 style="display:inline;" id="greeting" ng-click="viewProfile()"></h3>
    <a href="/">
        <h1 id="application-name">CINEMA APPLICATION</h1>
    </a>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="/">
                            <i class="fa fa-home fa-lg" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <!--<div class="navbar-form navbar-left" id="searchBox">-->
                        <form class="navbar-form navbar-left" id="searchBox">
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="search" placeholder="Search" id="search">
                            </div>
                        </form>
                        <!--</div>-->
                    </li>
                    <li>
                        <form class="navbar-form navbar-left" id="sortBox">
                            <div class="form-group">
                                <label for="sort">Sort by </label>
                                <select class="form-control" id="sort" name="sort" ng-options="item as item for item in sorts" ng-model="sort">
                                </select>
                            </div>
                        </form>

                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li id="create">
                        <a href="/movie/create">
                            <i class="fa fa-upload" aria-hidden="true"></i> CREATE NEW MOVIE</a>
                    </li>
                    <li id="signin">
                        <a href="/signin">
                            <i class="fa fa-sign-in" aria-hidden="true"></i> SIGN IN</a>
                    </li>
                    <li id="signup">
                        <a href="/signup">
                            <i class="fa fa-user-plus" aria-hidden="true"></i> SIGN UP</a>
                    </li>
                    <li id="change">
                        <a href="/user/changePassword">
                            <i class="fa fa-unlock-alt fa-lg" aria-hidden="true"></i> CHANGE PASSWORD</a>
                    </li>
                    <li id="signout">
                        <a href="#" data-toggle="modal" data-target="#signoutModal">
                            <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i> SIGN OUT</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>

<div class="modal" id="signoutModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>-->
                <h3>Đăng xuất</h3>
            </div>
            <div class="modal-body">
                <p>
                    </i> Are you sure you want to sign out of your account?
                    <br />
                </p>
                <div class="actionsBtns">
                    <a href="/signout" class="pull-right">
                        <button class="btn btn-default btn-danger">
                            <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i> Sign out</button>
                    </a>
                    <button class="btn btn-default btn-primary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>